@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
  background: #f6fbff;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

header:after {
  content: "";
  clear: both;
  display: block;
}

header {
  background: rgba(51, 141, 214, 1);
  background: -moz-linear-gradient(top, rgba(51, 141, 214, 1) 0%, rgba(19, 100, 171, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51, 141, 214, 1)), color-stop(100%, rgba(19, 100, 171, 1)));
  background: -webkit-linear-gradient(top, rgba(51, 141, 214, 1) 0%, rgba(19, 100, 171, 1) 100%);
  background: -o-linear-gradient(top, rgba(51, 141, 214, 1) 0%, rgba(19, 100, 171, 1) 100%);
  background: -ms-linear-gradient(top, rgba(51, 141, 214, 1) 0%, rgba(19, 100, 171, 1) 100%);
  background: linear-gradient(to bottom, rgba(51, 141, 214, 1) 0%, rgba(19, 100, 171, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#338dd6', endColorstr='#1364ab', GradientType=0);
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 2px 4px rgba(0, 0, 0, 0.2);

  #logo {
    height: 52px;
    width: 166px;
    float: left;
  }

  nav {
    float: right;
    li {
      display: inline-block;
      margin: 0 20px;
      a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }

}

.content {
  width: 1300px;
  margin: 50px auto;
}

.container {
  border: 1px solid #ddd;

  .rowContainer {
    background: rgba(250, 250, 250, 1);
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f2f2f2', GradientType=0);
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    transition: all 0.3s ease-in;
    &:hover {
      background: rgba(204, 204, 204, 1);
      background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(224, 224, 224, 1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204, 204, 204, 1)), color-stop(100%, rgba(224, 224, 224, 1)));
      background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(224, 224, 224, 1) 100%);
      background: -o-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(224, 224, 224, 1) 100%);
      background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(224, 224, 224, 1) 100%);
      background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 0%, rgba(224, 224, 224, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e0e0e0', GradientType=0);
    }

    .serverName,
    .serverIp,
    .serverStatus,
    .serverGroup {
      display: inline-block;
      width: 25%;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }

    .serverOn {
      color: green;
      font-weight:bold;
    }

    .serverOff {
      color: red;
      font-weight:bold;
    }

    .serverName,
    .serverIp,
    .serverStatus {
      border-right: 1px solid #ededed;
    }

    .rowHeader {
      border-right:1px solid #5f5f5f;
      &:last-child {
        border-right:0;
      }
    }



    .rowHeader {
      background: rgba(89, 89, 89, 1);
      background: -moz-linear-gradient(top, rgba(89, 89, 89, 1) 0%, rgba(54, 54, 54, 1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89, 89, 89, 1)), color-stop(100%, rgba(54, 54, 54, 1)));
      background: -webkit-linear-gradient(top, rgba(89, 89, 89, 1) 0%, rgba(54, 54, 54, 1) 100%);
      background: -o-linear-gradient(top, rgba(89, 89, 89, 1) 0%, rgba(54, 54, 54, 1) 100%);
      background: -ms-linear-gradient(top, rgba(89, 89, 89, 1) 0%, rgba(54, 54, 54, 1) 100%);
      background: linear-gradient(to bottom, rgba(89, 89, 89, 1) 0%, rgba(54, 54, 54, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#363636', GradientType=0);
      font-weight: bold;
      color: #fff;
    }
  }
}

.serverData {
  background: #393939;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

.serverData p {
  margin:0;
}

.activeNav {
  border-bottom: 4px solid #1894ff;
}

.active {
  background: #cacaca !important;
  border: 1px solid #393939;
}