@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');


body {
    font-family: 'Raleway', sans-serif;
    background: #f6fbff;
    margin: 0;
    padding: 0;
}
ul.navbar {
    line-height: 50px;
    margin: 0;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.navbar-default:after {
    content: "";
    clear: both;
    display: block;
}

.navbar-default {
    background: #338dd6;
    background: -moz-linear-gradient(top, #338dd6 0%, #1364ab 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #338dd6), color-stop(100%, #1364ab));
    background: -webkit-linear-gradient(top, #338dd6 0%, #1364ab 100%);
    background: -o-linear-gradient(top, #338dd6 0%, #1364ab 100%);
    background: -ms-linear-gradient(top, #338dd6 0%, #1364ab 100%);
    background: linear-gradient(to bottom, #338dd6 0%, #1364ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#338dd6', endColorstr='#1364ab', GradientType=0);
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0;

}
.navbar-default #logo {
    height: 52px;
    width: 166px;
    float: left;
}

.navbar-default li a {
    color: #fff !important;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}


.container {

    padding:0;
}
.container .rowContainer {
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
    background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f2f2f2', GradientType=0);
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.container .rowContainer:hover {
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #e0e0e0 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, #cccccc 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, #cccccc 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, #cccccc 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #cccccc 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e0e0e0', GradientType=0);
}
.container .rowContainer > div {
    line-height: 50px;
    text-align: center;
}
.container .rowContainer .serverOn {
    color: green;
    font-weight: bold;
}
.container .rowContainer .serverOff {
    color: red;
    font-weight: bold;
}
.container .rowContainer > div {
    border-right: 1px solid #ededed;
}
.container .rowContainer .rowHeader {
    border-right: 1px solid #5f5f5f;
}
.container .rowContainer .rowHeader:last-child {
    border-right: 0;
}
.container .rowContainer .rowHeader {
    background: #595959;
    background: -moz-linear-gradient(top, #595959 0%, #363636 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #595959), color-stop(100%, #363636));
    background: -webkit-linear-gradient(top, #595959 0%, #363636 100%);
    background: -o-linear-gradient(top, #595959 0%, #363636 100%);
    background: -ms-linear-gradient(top, #595959 0%, #363636 100%);
    background: linear-gradient(to bottom, #595959 0%, #363636 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#363636', GradientType=0);
    font-weight: bold;
    color: #fff;
    white-space: normal;
}

.serverData {
    background: #393939;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.serverData p {
    margin: 0;
}

.navbar-brand {
    padding:0;
    margin-left: 20px !important;
}

.activeNav {
    border-bottom: 4px solid #1894ff;
}

.active {
    background: #cacaca !important;
    border: 1px solid #393939;
}
.rowContainer li {
    list-style: none;
    text-align: center;
}
.rowContainer.serversRowContainer {
    border: 1px solid #e7e7e7;
    border-width: 0 0 1px 0;
    height: 50px;
    line-height: 50px;
}

.is-open > .rowContainer {
    background: #303030;
    color: #fff;
    font-weight: bold;
}

.Collapsible:after {
    content: "";
    display: block;
    clear: both;
}

.Collapsible__contentOuter {
    background: #4d4d4d;
    color: #fff;
}

.serverData ul {
    margin: 0;
    list-style: none;
}

.serverData ul:after {
    clear: both;
    display: block;
    content: "";
}

.serverData ul li {
    padding: 20px 0;
    text-align: left;
}

.searchField input {
    padding: 10px;
    width: 100%;
    margin: 0 0 20px 0;
}

.is-open > .rowContainer:hover {
    background: #303030;
}

.form-control {
    margin-bottom: 30px;
}

.content {
    border: 1px solid #e7e7e7;
}

.navbar-toggle {
    margin-right: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.col-xs-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transition-enter {
    opacity: 0.01;
}

.transition-enter.transition-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

.transition-leave {
    opacity: 1;
}

.transition-leave.transition-leave-active {
    opacity: 0.01;
    transition: all 300ms ease-in;
}

@media screen and (max-width: 485px) {
    .serverStatus {
        line-height: 25px !important;
    }
}

@media screen and (max-width: 474px) {
    .serverName  {
        line-height: 25px !important;
    }
}

@media screen and (max-width: 445px) {
    .rowContainer li {
        padding: 0;
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen and (max-width: 364px) {
    .serverIp  {
        line-height: 25px !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
        margin-top: 20px;
        border-top: 1px solid #39a4ff;
        background: #1364ab;
    }
    .navbar-default li a {
        color: #fff !important;
        text-align: center;
        border-width: 1px;
        border-color: #1c7bcf;
    }
}

.modal-dialog {
    width: 700px !important;
}

.datepickerContainer {
    max-width: 95%;
    margin: 0 auto;
}